@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*
{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(45deg, #114357, #F29492); */
    background: linear-gradient(45deg, #F1F2B5, #135058);
}

.card
{
    position: relative;
    width: 600px;
    height: 370px;
    background: #fff;
    border-radius: 20px;
    box-shadow: rgba(158, 158, 158, 0.4) 6px 6px, rgba(255, 255, 255, 0.3) 12px 12px, rgba(94, 94, 94, 0.2) 18px 18px, rgba(255, 255, 255, 0.1) 24px 24px, rgba(0, 0, 0, 0.05) 30px 30px;
    transition: 0.5s;
}
.card:hover
{
    height: 580px;
    box-shadow: rgba(158, 158, 158, 0.4) 4px 4px, rgba(255, 255, 255, 0.3) 8px 8px, rgba(94, 94, 94, 0.2) 12px 12px, rgba(255, 255, 255, 0.1) 16px 16px, rgba(0, 0, 0, 0.05) 20px 20px;
}
.imgBx
{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    background: #fff;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.5); 
    overflow: hidden;
    transition: 0.5s;
    z-index: 99;
}
.card:hover .imgBx
{
    width: 350px;
    height: 350px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.3);
}
.imgBx img
{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
/* Shine */
.card .imgBx figure {
	position: relative;
}
.card .imgBx figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.08) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.08) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.card:hover .imgBx figure::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
.card .content
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.card .content .details
{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(180px);
}
.card:hover .content .details
{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(0px);
}
.card .content .details h3
{
    font-size:1.4em;
    font-weight: 500;
    color: #555;
    line-height: 1.6em;
}
.card .content .details h1
{
    font-size:3.4em;
    font-weight: 500;
    color: #666;
    transition: 0.5s;
    transform: translateY(0);
}
.card:hover .content .details h1
{
    opacity:0;
    font-weight: 500;
    transition: 0.5s;
    transform: translateY(-50px);
}
.card .content .details h2
{
    font-size:1.7em;
    font-weight: 800;
    color: #777;
    line-height: 1.6em;
    margin-top:-25px;
}
.card .content .details h2 span
{
    font-weight: 300;
    color: rgb(156, 156, 156);
    transition: 0.5s;
}
.card:hover .content .details h2 span
{
    opacity: 0;
    font-weight: 300;
    transition: 0.5s;
    transform: translateY(-50px);
}
.card .content .details h3 span
{
    opacity: 0;
    transform: translateX(150px);
    transition: 0.5s;
}
.card:hover .content .details h3 span
{
    opacity: 0.6;
    transform: translateX(0);
    transition: 0.5s;
}
.card .content .details .socials
{
    display: flex;
    margin-top: 25px;
}

.card .content .details .socials a
{
    opacity: 0;
    flex: 1;
    transform: translateY(150px);
    transition: 0.5s;
}

.card:hover .content .details .socials a
{
    opacity: 0.5;
    flex: 1;
    transform: translateY(0);
}