@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*
{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(45deg, #114357, #F29492); */
    background: linear-gradient(45deg, #F1F2B5, #135058);
}

.card
{
    position: relative;
    width: 600px;
    height: 350px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
}
.card:hover
{
    height: 550px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.3);
}
.imgBx
{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    overflow: hidden;
    transition: 0.5s;
}
.card:hover .imgBx
{
    width: 350px;
    height: 350px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.11);
}
.imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .content
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.card .content .details
{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(150px);
}
.card:hover .content .details
{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(25px);
}
.card .content .details h2
{
    font-size:1.8em;
    font-weight: 600;
    color: #555;
    line-height: 1.6em;
}
.card .content .details h2 span
{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.6;
}
.card .content .details .socials
{
    display: flex;
    margin-top: 25px;
}

.card .content .details .socials a
{
    opacity: 0.5;
    flex: 1;
}